<!-- 
/*
Copyright 2017 apHarmony

This file is part of jsHarmony.

jsHarmony is free software: you can redistribute it and/or modify
it under the terms of the GNU Lesser General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

jsHarmony is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public License
along with this package.  If not, see <http://www.gnu.org/licenses/>.
*/
-->
<script type="text/x-tutorial-info">
{
  "Title": "Basic Form",
  "Menu": ["Models"],
  "Code": ["/models/C.json","/models/C.js"],
  "Demo": "/C",
  "DemoWindowParams": "width=1000,height=700"
}
</script>
Forms are located in the "models" folder.  Except in cases of routes or inheritance, each form has its own file.<br/>
<br/>
Forms are named FORMNAME.json, where FORMNAME is the name of the form.  Form names should consist of alpha-numeric characters and underscores.<br/>
<br/>
<h3>Empty Form</h3>
In the most basic example, let's create an empty form using the code below, and save it as 01_FORM_EMPTY.json
<br/><pre>
{ }
</pre><br/>
<h3>Layout / Title / Caption</h3>
<h3>Database Tables</h3>
<h3>Roles / Actions</h3>
<h3>Controls</h3>
<h3>Linking to a Grid</h3>
<h3>New vs Edit Mode</h3>
