<!-- 
/*
Copyright 2017 apHarmony

This file is part of jsHarmony.

jsHarmony is free software: you can redistribute it and/or modify
it under the terms of the GNU Lesser General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

jsHarmony is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public License
along with this package.  If not, see <http://www.gnu.org/licenses/>.
*/
-->
<script type="text/x-tutorial-info">
{
  "Title": "Grid Styles",
  "Menu": ["Models","Grids"]
}
</script>

<h3>Grid Styles</h3>
Grids can be styled at the model or field level.

<h4>Grid Model Style Properties</h4>
<ul>
  <li>model.tablestyle</li>
  <li>model.rowstyle</li>
  <li>model.rowclass</li>
</ul>

<h4>Grid Field Style Properties</h4>
<ul>
  <li>field.captionstyle</li>
  <li>field.captionclass</li>
  <li>field.cellstyle</li>
  <li>field.cellclass</li>
  <li>field.controlstyle</li>
  <li>field.controlclass</li>
</ul>

See the <a href="/tutorials/model_styling#grid_properties">Model Styling</a> tutorial for examples and more information.