#tutorials_menu .tree_item { display:table; }
#tutorials_menu .tree_item .glyph,
#tutorials_menu .tree_item img,
#tutorials_menu .tree_item span { display:table-cell; }
#tutorials_menu .nochildren .glyph { display:none; }
#tutorials_menu a:hover { text-decoration:none; }
#tutorials_menu { width:250px; float:left; position:relative; }
#tutorials_body { float:left; padding:0; }
#tutorial_title { padding-top:15px; padding-left:29px; padding-bottom: 13px; line-height:30px; }
#tutorial_tabs_body,
#tutorial_tabs_body pre,
#tutorial_tabs_body li {
  font-size:14px; 
  line-height:20px;
}
#tutorial_tabs_body { padding:21px 0px 30px 29px; overflow:scroll; }
#tutorial_tabs_body pre { 
  /*background-color:#f2f2f2; */
  display:inline-block;
  padding-right:15px;
  margin-right:15px;
  margin-top:0px;
  margin-bottom:0px;
}
#tutorials_search {
  position:absolute;
  top:88px;
  left:26px;
  border:1px solid #ccc;
  background-color:#fff;
  height:23px;
}
#tutorials_search input {
  background-color:transparent;
  border:0;
  height:21px;
  vertical-align:middle;
}
#tutorials_search input.query {
  width:202px;
  padding:1px 5px;
}
#tutorials_search input.submit {
	background-image: url('/images/icon_search.png');
	background-position: center;
	background-repeat: no-repeat;
  background-size:15px 15px;
	cursor: pointer;
	width: 20px;
  color: transparent;
}
.search_result {
  padding-bottom:25px;
  font-size:13px;
}
.search_result .title {
  font-size:16px;
  text-decoration:underline;
}
.search_result .url {
  color:#006622;
  font-size:13px;
}

body.tutorials { overflow:hidden; }

#tutorial_tabs {
  border-bottom:1px solid #aaa;
  padding-left:29px;
  white-space:nowrap;
}
#tutorial_tabs .left {
  display:inline-block;
  width:1px;
  height:31px;
  background-color:#aaa;
  vertical-align:bottom;
}
#tutorial_tabs a.selected {
  background-color:#f2f2f2;
}
#tutorial_tabs a {
  display:inline-block;
  border-right:1px solid #aaa;
  border-top:1px solid #aaa;
  padding:6px 20px;
}