<!-- 
/*
Copyright 2017 apHarmony

This file is part of jsHarmony.

jsHarmony is free software: you can redistribute it and/or modify
it under the terms of the GNU Lesser General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

jsHarmony is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public License
along with this package.  If not, see <http://www.gnu.org/licenses/>.
*/
-->
<script type="text/x-tutorial-info">
{
  "ID": "fields_styling",
  "Title": "Field Styling",
  "Menu": ["Models","Fields / Controls"]
}
</script>

<h3>Overview</h3>

Field layout and style can be defined using the following properties:

<h4>Field Style Properties</h4>
<ul>
  <li>field.captionstyle</li>
  <li>field.captionclass</li>  
  <li>field.controlstyle</li>
  <li>field.controlclass</li>
  <li>field.blockstyle (Only applicable if field.block=true)</li>
  <li>field.blockclass (Only applicable if field.block=true)</li>
  <li>field.cellstyle (Grid-only)</li>
  <li>field.cellclass (Grid-only)</li>
  <li>field.nl</li>
  <li>field.eol</li>
  <li>field.block</li>
</ul>

See the <a href="/tutorials/model_styling#grid_properties">Model Styling</a> tutorial for examples and more information.
