<!-- 
/*
Copyright 2020 apHarmony

This file is part of jsHarmony.

jsHarmony is free software: you can redistribute it and/or modify
it under the terms of the GNU Lesser General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

jsHarmony is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public License
along with this package.  If not, see <http://www.gnu.org/licenses/>.
*/
-->
<script type="text/x-tutorial-info">
{
  "Title": "SQL Objects",
  "ID": "reference_sqlobjects",
  "Menu": ["Language Reference"]
}
</script>

<h3 class="tutorials_intro">SQL Objects</h3>

<pre>
sqlobject := {
  "type": "table", //table, view, code, code2
  "caption": ["Branch", "Branches"],
  "columns": [
    { //Column 
      "name": "c_id", 
      "type": "varchar",  //bigint, varchar, date, decimal, float, int, datetime, char, smallint, tinyint, time, boolean, binary
      "length":255, 
      "precision": [12,6], 
      "precision": 53, 
      "key": true, 
      "foreignkey": { "table_name": "field_name" }, 
      "identity": true, 
      "null": false,
      "unique": true,

      "default": "ACTIVE",
      "default": { "sql": "jsh.map.timestamp" }
    }
  ],
  "foreignkeys": [
    { "columns": ["col1","col2"], "foreign_table": "tbl", "foreign_columns": ["fcol1","fcol2"] }
  ],
  "unique": [
    ["branch_name","branch_user_id"] //Multi-unique
  ],
  "dependencies": ["tbl1", "tbl2"], //Dependencies are used to order create statements in situations such as views with custom SQL
  "index": [
    { "columns": ["environment_id"] },
    { "columns": ["environment_id", "series_code"] } //Multi-index
  ],
  "tables": [ //For views only - used to generate sql statement
    "table1": {
      "columns": [
        "column1",
        "column2",
        { "name": "column3", "type": "varchar", "length": -1, "sqlselect": "concat(column1, column2)" }, //Custom column expression
      ]
    }
    "table2": {
      "columns": [
        "column4"
      ],
      "join_type": "left",  //left, right, inner
      "join_columns": {
        "table1.column1", "table2.column1",
        "table1.column2", "table2.column2"
      }
    }
  ]
  "triggers": [
    { "on": ["update", "insert","delete","validate_insert","validate_update"],
      "exec": [
        "set(branch_mtstmp,jsh.map.timestamp);"
        //set(field, value)
        //setif(cond, field, value)
        //null(value)
        //errorif(cond, msg)  -- checks condition against inserted table
        //deleted(col) -- works with errorif - gets value from deleted table
      ]
    }
  ],
  "init": [
    { "sql": "..." }
  ]
  "init_data": [
    { "field1": "value1", "field2": "value2" }
  ],
  "sample_data": [
    { "field1": "value1", "field2": "value2" }
  ]
}
</pre>