<!-- 
/*
Copyright 2017 apHarmony

This file is part of jsHarmony.

jsHarmony is free software: you can redistribute it and/or modify
it under the terms of the GNU Lesser General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

jsHarmony is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public License
along with this package.  If not, see <http://www.gnu.org/licenses/>.
*/
-->
<script type="text/x-tutorial-info">
{
  "Title": "Project Structure",
  "Menu": ["Getting Started"]
}
</script>
Project Structure
<h3>Startup Files (app.js, nstart.cmd, package.json)</h3>
<h3>Settings (app.settings.js)</h3>
<h3>models</h3>
  <b>models/reports</b><br/>
  <b>models/js</b><br/>
  <b>models/sql</b><br/>
  <b>models/style</b><br/>
  <b>models/_config.json</b><br/>
  <b>models/_controls.json</b><br/>
  <b>models/_routes.json</b><br/>
  <b>models/_procs.json</b><br/>
  <b>models/_funcs.json</b><br/>
<h3>views</h3>
<h3>public</h3>