<!-- 
/*
Copyright 2017 apHarmony

This file is part of jsHarmony.

jsHarmony is free software: you can redistribute it and/or modify
it under the terms of the GNU Lesser General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

jsHarmony is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public License
along with this package.  If not, see <http://www.gnu.org/licenses/>.
*/
-->
<script type="text/x-tutorial-info">
{
  "Title": "Application Settings",
  "Menu": ["Getting Started"],
  "ID": "GETTING_STARTED_APPLICATION_SETTINGS"
}
</script>
<h3>System Settings</h3>
<pre>
//System Name (used in web page Title)
global.site_title = 'jsHarmony';

//Home URL (link logo back to this URL)
global.home_url = '';

//Support Email displayed to users in error messages
global.support_email = 'donotreply@company.com';

//Admin email address for error notifications
global.error_email = 'donotreply@company.com';

//Global application settings for server-side JS
global.app_settings = { }

//jsHarmony settings
global.jshSettings = {
  ignore_imagemagick: false,        //Do not show an error if ImageMagick is not installed
  case_insensitive_datalocks: true  //Datalock -> Key matching will be case-insensitive for cross-database compatibility
};

global.default_rowlimit = 50;   //Number of grid rows per automatic load
global.export_rowlimit = 5000;  //Maximum number of rows for CSV export
global.max_filesize = 50000000; //Default 50MB file upload size limit
global.max_user_temp_foldersize = 50000000; //Default 50MB limit for users' temp staging folder
global.public_temp_expiration = 5 * 60;     //Clear public temp files after 5 min
global.user_temp_expiration = 6 * 60 * 60;  //Clear users' temp files after 6 hours

//Valid file upload extensions
global.valid_extensions = [".jpg", ".jpeg", ".pdf", ".png", ".gif", ".txt", ".xlsm", ".xls", ".xlsx", ".bak", ".zip",".csv"];

global.appbasepath = path.dirname(require.main.filename); //Path to the application root
global.localmodeldir = global.appbasepath + '/models/';   //The primary local model folder
global.modeldir = [global.localmodeldir];  //Array of "model" folders, used to load external, shared components
global.datadir = path.dirname(module.filename) + '/data/'; //Dynamic data folder (logs, temp files, user data)
global.logdir = datadir + 'log/'; //Path to log
global.LogSleepDelay = 1000;      //Amount of time to queue log messages before flushing log to disk

//Simple Job Scheduler
global.enable_scheduler = true;
global.scheduled_tasks = {
  'JOBNAME': {
    action: global.JobProc.ExecuteSQL("exec dbo.BATCH_JOB"),
    when: function(curdt, lastdt){ return (curdt.getTime() - lastdt.getTime() > 300000); }
  } 
};

//System-wide public Express routes
global.public_apps = [{'/public_page': function(req, res){ res.send('Public Page'); }}];

//System-wide private Express routes (requiring login)
global.private_apps = [{'/private_page': function(req, res){ res.send('Private Page'); }}];
</pre>

<h3>Database Settings</h3>
<pre>
//PostgreSQL Database Connection String
//-------------------------------------
var pgsqlDBDriver = require('jsharmony-db-pgsql');
global.dbconfig = { 
  host: "server.domain.com", 
  database: "DBNAME", 
  user: "DBUSER", 
  password: "DBPASS", 
  _driver: new pgsqlDBDriver(),
  jsharmony_options:{
    //By default, transactions will rollback on WARNING messages
    stopTransactionAndCommitOnWarning: false
  }
};

//SQL Server Database Connection String
//-------------------------------------
var mssqlDBDriver = require('jsharmony-db-mssql');
global.dbconfig = { 
  server: "server.domain.com", 
  database: "DBNAME", 
  user: "DBUSER", 
  password: "DBPASS", 
  _driver: new pgsqlDBDriver(),
  options:{
    connectTimeout:30000, //Maximum wait time to log in to a server
    requestTimeout:30000, //Maximum time per SQL query
    ecrypt:true,          //Use encrypted channel, required for Azure
    useUTC: false         //Use UTC vs local time for dates, may cause unexpected behavior with Date/Time controls
  } 
};

//SQLite Database Connection String
//-------------------------------------
var sqliteDBDriver = require('jsharmony-db-sqlite');
global.dbconfig = { 
  database: "DBPATH", //or ":memory:"
  _driver: new sqliteDBDriver()
};
</pre>

<h3>Web Server Settings and Security</h3>
If both HTTP and HTTPS ports are set, the HTTP port will redirect to the HTTPS port (recommended configuration).
<pre>
global.http_port = 8080;     //Port for HTTP traffic
global.http_ip = '0.0.0.0';  //IP binding for HTTP traffic
global.https_port = 8081;    //Post for HTTPS traffic
global.https_ip = '0.0.0.0'; //IP binding for HTTPS traffic
global.https_cert = 'path/to/https-cert.pem'; //HTTPS Public Certificate
global.https_key = 'path/to/https-key.pem';   //HTTPS Private Key
global.https_ca = 'path/to/https-ca.pem';     //HTTPS Certificate Authority Keychain (concatenate multiple files into one)
global.request_timeout = 2*60*1000;   //Maximum execution time for a web request (default 2 min)
</pre>

<h3>Mailer Settings</h3>
<pre>
global.mailer_email = 'DO NOT REPLY <donotreply@company.com>'; //Mailer "from" address

//SMTP Mailer
//-----------
global.mailer_settings = {
  type: 'smtp',
  host: 'mail.company.com',
  port: 465,
  auth: {
    user: 'donotreply@company.com',
    pass: 'XXXXXXXXXXXXXXX'
  },
  secure: true,
  tls: { rejectUnauthorized: false }, //Ignore TLS cert, required by some shared email hosts
  maxConnections: 5,  //Maximum simultaneous connections to the SMTP server
  maxMessages: 10     //Messages sent per SMTP connection before reconnecting
};

// Amazon SES MAILER
//------------------
global.mailer_settings = {
  type: 'ses',
  accessKeyId: "XXXXXXXXXXXXXXXXXXX",
  secretAccessKey: "XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX",
  rateLimit: 10   //Messages per second
}
</pre>

<h3>Job Processor</h3>
<pre>
global.JobSleepDelay = 5000;  //Sleep time when between queued jobs (default 5 sec)
global.JobCheckDelay = 60000; //Sleep time when no more jobs found in queue  (default 60 sec)
</pre>

<h3>Barcoding / Scanner / Twilio / Google API</h3>
<pre>
//barcodeHarmony Server
global.barcode_settings = { server: 'https://localhost:3101' };

//scanHarmony Server
global.scanner_settings = { server: 'https://localhost:3105' };

//Google Maps API Key
global.google_settings = { API_KEY: 'XXXXXXXXXXXXXX' };

//Twilio Account for sending SMS Messages
global.twilio_settings = {
  SMS_FROM: '+12223334444',
  ACCOUNT_SID: 'XXXXXXXX',
  AUTH_TOKEN: 'XXXXXXXXXXXXXXXXXXXXXXXXX'
};
</pre>

<h3>System Salts</h3>
Each salt should be a 60+ character string of mixed uppercase characters, lowercase characters, symbols, and numbers.
<pre>
global.clientsalt = 'XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX';  //Used to encode client portal passwords
global.clientcookiesalt = 'XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX'; //Used to encode client portal cookies
global.adminsalt = 'XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX';  //Used to encode admin portal passwords
global.admincookiesalt = 'XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX'; //Used to encode admin portal cookies
global.frontsalt = 'XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX';  //Used to encode one-way front-end JS lookups (for popups, etc)
</pre>

<h3>Debug Settings</h3>
<pre>
global.debug_params = {
  web_detailed_errors: true, //Show full stack trace and error message to the user (be sure to set to false in production)
  pipe_log : true,           //Show LOG messages on CONSOLE
  appsrv_requests: false,    //Display all APPSRV requests on LOG/CONSOLE
  report_debug: false,       //Display report warnings (Null value, etc.)
  db_requests: false,        //Log every database request
  db_error_sql_state: true,  //Log full SQL state on database error
  job_requests: false,       //Display all JOB requests on LOG/CONSOLE
  email_override: 'donotreply@company.com',  //Override all outbound emails to send to this address
  sms_override: '+12223334444',          //Overrided all outbound SMS messages to send to this phone #
  no_job_email: false,                   //Disable sending EMAILS from the job processor
  no_job_sms: false,                     //Disable sending SMS messages from the job processor
  disable_job_processor: false,          //Disable the job processor entirely
  disable_email: false,                  //Disable sending any email messages
  hide_deprecated: false,                //Do not show messages about deprecated features
  jsh_error_level: 1 //1 = ERROR, 2 = WARNING, 4 = INFO  :: Messages generated while parsing jsHarmony configs
}
</pre>