<!-- 
/*
Copyright 2017 apHarmony

This file is part of jsHarmony.

jsHarmony is free software: you can redistribute it and/or modify
it under the terms of the GNU Lesser General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

jsHarmony is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public License
along with this package.  If not, see <http://www.gnu.org/licenses/>.
*/
-->
<script type="text/x-tutorial-info">
{
  "Title": "Popup Forms",
  "Menu": ["Models","Forms"]
}
</script>

<h3>Overview</h3>
Popup forms are rendered using a "popup" template - a stripped down version of the system template without menus or toolbars.<br/>
<br/>
Popup forms are primarily used for "detail" views of data.  When the system displays a grid listing of data, the popup form can be used to edit an individual item.<br/>
<br/>
There are several benefits to using popup forms instead of in-page links when editing data:
<ul>
  <li>Multiple records can be edited and compared at the same time</li>
  <li>Data can be copied / pasted between records</li>
  <li>The user does not have to reload their paged position within the grid when pressing the back button</li>
</ul>

<h3>Using Popup Forms</h3>
xxxxxxxxxxxxxxxxxxxxxx

<h3>Linking to Popup Forms</h3>
When linking using the field.link or button.link properties, the system will automatically review the target model and add code to open the target in a popup window if the "popup" property is set on the target model.
<pre>
//Link to the C form from a grid column
{
  "fields":[
    {"name":"c_name","caption":"Customer","link":"edit:C"}
  ]
}

//C form
{
  "popup": [800, 600]
}
</pre>

<h3>Opening Popup Forms Via JavaScript</h3>

<pre>
XExt.popupForm('CW','edit',{'c_id':XModels[modelid].controller.form.Data.c_id},{width:850,height:600})
</pre>

