<!-- 
/*
Copyright 2017 apHarmony

This file is part of jsHarmony.

jsHarmony is free software: you can redistribute it and/or modify
it under the terms of the GNU Lesser General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

jsHarmony is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public License
along with this package.  If not, see <http://www.gnu.org/licenses/>.
*/
-->
<script type="text/x-tutorial-info">
{
  "ID": "field_control_file",
  "Title": "File / Image Controls",
  "Menu": ["Models","Fields / Controls","Built-in Controls"],
  "Code": ["/models/CL.json"]
}
</script>

<h3>File Upload Control</h3>
The "file_upload" control is used to save a file per database record.  Files are stored in the file system, in the "data" folder.<br/>
<br/>
A basic file upload control can be added as follows:
<%-getScreenshot('jsHarmonyTutorials/FieldFile_Upload_Form?action=update&x_primary=1&popup=1','File Upload - Basic')%>
<pre>
{ 
  "table":"allcontrols",
  "layout":"form",
  "onecolumn":true,
  "caption": "File Upload",
  "fields": [
    {"name":"x_primary", "type":"int", "key":1},
    {"name":"x_file","type":"file","caption":"x_file", "controlparams": { "data_folder": "tutorials_allcontrols" }}
  ]
}
</pre>
Each file field requires a field.controlparams.data_folder property.  This defines in which folder under jsh.Config.datadir the file will be saved.<br/>
<br/>
A field with field.type="file" will automatically be set with field.control="file_upload" in form / form-m / exec / report layouts, and field.control="file_download" on grid layouts.<br/>
<br/>
The "file_upload" control has the following options:
<pre>
{
  "control": "file_upload",
  "controlparams": {
    "data_folder": "D",            //Subfolder name under "config.datadir" for the files, should be unique per data_file_prefix
    "data_file_prefix": "c_doc",   //File name prefix {{PREFIX}}_{{KEY}}{{.EXT}} (Prefix defaults to field name if blank or not set)

    //System Parameters
    "_data_file_has_extension": false, //Whether the data file is saved with an extension
                                       //Automatically set to true if sqlparams.FILE_EXT not set.
                                       //Slower because a directory search is required on each request.  

    //Interface parameters (Button Captions)
    //  By default, if controlparams.image or controlparams.thumbnails is defined, preview_button is enabled and download_button is not set
    //  Otherwise, for regular files, download_button is enabled and preview_button is not set
    "download_button": "Download", //Text for the download button (for downloading files)
    "preview_button": "View",      //Text for the preview button (for viewing images, opens in new browser window)
    "upload_button": "Upload",     //Text for the upload button
    "delete_button": "Delete",     //Text for the delete button
    "show_thumbnail": "small",     //Whether to display an image thumbnail.  If no thumbnails are defined, set to "true" to display the image
    "preview_on_click":true,       //Whether to link the thumbnail to the full image on click

    //Database parameters
    "sqlparams": {
      "FILE_SIZE": "d_size",     //File Size (updated on save)
      "FILE_EXT": "d_ext",       //File Extension (updated on save)
      "FILE_UTSTMP": "d_utstmp", //Upload Timestamp - (updated on save - set to TSTMP in sql/_global.mssql.json)
      "FILE_UU": "d_uu",         //Upload User - (updated on save - set to CUSER in sql/_global.mssql.json)
      "FILE_NAME": "d_filename"  //Alternate file name for when user downloads the file (read, but not saved, to database)
    },

    //Image Processing Parameters
    "image": {
      "format": "jpg", //jpg or png

      //Use one of the following properties to process the image after upload
      "crop": [800,600],   //Resizes and then crops the image to the target box
      "resize": [800,600], //Resizes the image to fit within the target box
      "resize": [225,75,{ "upsize": true, "extend":  true }], //Upsize = increase size if smaller
                                                              //Extend = increase size to max, then center content
      
    },
    "thumbnails": {
      "D_Medium": { //Thumbnail ID is used in the thumbnail file name: {{PREFIX}}_{{THUMBNAIL_ID}}_{{KEY}}{{.EXT}} 
        "format": "jpg", //jpg or png

        //Use one of the following properties to process the image after upload
        "crop": [800,600],   //Resizes and then crops the image to the target box
        "resize": [800,600], //Resizes the image to fit within the target box
        "resize": [225,75,{ "upsize": true, "extend":  true }], //Upsize = increase size if smaller
                                                                //Extend = increase size to max, then center content
      } 
    },
}
</pre>

<h3>File Download Control</h3>
The "file_download" control enables downloading a previously uploaded file.  For example:

<%-getScreenshot('jsHarmonyTutorials/FieldFile_Download_Grid?popup=1','File Download')%>
<pre>
{ 
  "table":"allcontrols",
  "layout":"grid",
  "caption": "File Download",
  "fields": [
    {"name":"x_primary", "type":"int", "key":1},
    {"name":"x_file","type":"file","control":"file_download","controlparams": { "data_folder": "tutorials_allcontrols" },"caption":"x_file"},
    {"control": "label", "value":"Download", "link": "download:FieldFile_Download_Form&x_file","caption":"Download Link"}
  ]
}
</pre>
This example has both a "file_download" control and a label with a link, to illustrate the two methods of linking to a previously uploaded file.<br/>
<br/>
The "file_download" control is hidden when the file does not exist, since the "file_download" control additionally checks the file system to see whether a file has been uploaded.  The link, on the other hand, does not check the file system and is always displayed - if the user clicks on the link, a message will show that the download file was not found.<br/>
<br/>
The "file_download" control has the following options:
<pre>
{
  "control": "file_upload",
  "controlparams": {
    "data_folder": "D",            //Subfolder name under "config.datadir" for the files, should be unique per data_file_prefix
    "data_file_prefix": "c_doc",   //File name prefix {{PREFIX}}_{{KEY}}{{.EXT}} (Prefix defaults to field name if blank or not set)

    //System Parameters
    "_data_file_has_extension": false, //Whether the data file is saved with an extension
                                       //Automatically set to true if sqlparams.FILE_EXT not set.
                                       //Slower because a directory search is required on each request.  

    //Interface parameters (Button Captions)
    "download_button": "Download", //Text for the download button (for downloading files)

    //Database parameters
    "sqlparams": {
      "FILE_EXT": "d_ext",       //File Extension (updated on save)
      "FILE_NAME": "d_filename"  //Alternate file name for when user downloads the file (read, but not saved, to database)
    },
}
</pre>

<h3>File Upload w/Database Optimization</h3>
Since the "file_download" and "file_upload" backend needs to check the file system to see whether a file exists, this can become an I/O bottleneck in high-performance applications.  To solve this, the database can be updated when a user uploads and downloads the file, to store the file state in the database.<br/>
<br/>
The following file attributes can be stored in the database:
<ul>
  <li>FILE_SIZE (File Size, in bytes)</li>
  <li>FILE_EXT (File extension)</li>
  <li>FILE_UTSTMP (Upload timestamp)</li>
  <li>FILE_UU (Upload user)</li>
</ul>
Additionally, the following parameter can be generated by the database during a file download:
<ul>
  <li>FILE_NAME (File name for the download operation)</li>
</ul>
The file database attributes are defined in the field.controlparams.sqlparams object.  For example:
<%-getScreenshot('jsHarmonyTutorials/FieldFile_Upload_DB_Form?action=update&c_id=1&popup=1','File Upload - DB Optimized')%>
<pre>
{ 
  "table":"c",
  "layout":"form",
  "onecolumn":true,
  "caption": "File Upload - DB Optimized",
  "fields": [
    {"name":"c_id", "key":1,"caption":"ID"},
    {"name":"c_doc","type":"file","control":"file_upload","caption":"Client Document",
      "controlparams": { 
        "data_folder": "tutorials_c_doc",
        "sqlparams": {
          "FILE_SIZE":   "c_doc_size",
          "FILE_EXT":    "c_doc_ext",
          "FILE_NAME":   "c_doc_filename",
          "FILE_UU":     "c_doc_uu",
          "FILE_UTSTMP": "c_doc_utstmp"
        }
      }
    },
   {"name":"c_doc_filename","sqlselect":"c_id||c_doc_ext","control":"hidden"}
  ]
}
</pre>
Each of the field.controlparams.sqlparams properties references a database column name.  If the database column is not already defined as a field in the current model, it will be automatically added.<br/>
<br/>
As a result, in the above model, the following SQL is generated for the select and update statements:
<pre>
Select
------
select c_id,(c_id||c_doc_ext) as "c_doc_filename",c_doc_ext,c_doc_size,c_doc_utstmp,c_doc_uu from c where  1=1  and c_id=@c_id

Update
------
update c set c_doc_ext=@c_doc_ext,c_doc_size=@c_doc_size,c_doc_utstmp=datetime('now','localtime'),c_doc_uu=(select context from jsharmony_meta limit 1) where 1=1  and c_id=@c_id;
</pre>
The FILE_UTSTMP parameter is bound to the jsHarmony "CUSER" sql expression, while the FILE_UU parameter is bound to the jsHarmony "TSTMP" sql expression.  The CUSER and TSTMP expressions are defaulted to the current user and current timestamp in jsharmony-factory\models\sql\_global.DB.json, but can be overridden in the local application.<br/>
<br/>
The FILE_NAME parameter is used when downloading the file - it defines the file name of the downloaded file on the client's device.<br/>
<br/>
Defining the FILE_EXT parameter results in faster performance, since the file extension does not need to be looked up (using a wildcard) every time the file is accessed or checked to see whether it exists.  This can be especially important for large file datasets.<br/>
<br/>
The "file_download" control with the database optimization is implemented as follows:
<%-getScreenshot('jsHarmonyTutorials/FieldFile_Download_DB_Grid?popup=1','File Download - DB Optimized')%>
<pre>
{ 
  "table":"c",
  "layout":"grid",
  "caption": "File Download - DB Optimized",
  "fields": [
    {"name":"c_id", "key":1,"caption":"ID"},
    {"name":"c_doc","type":"file","control":"file_download","caption":"Client Document",
      "controlparams": { 
        "data_folder": "tutorials_c_doc",
        "sqlparams": {
          "FILE_EXT":    "c_doc_ext",
          "FILE_NAME":   "c_doc_filename"
        }
      }
    },
   {"name":"c_doc_filename","sqlselect":"c_id||c_doc_ext","control":"hidden"}
  ]
}
</pre>

<h3>File Management Architecture</h3>
* Routes / endpoints
* Temp folder / upload process

<h3>Image Upload / Resizing</h3>
** Show resulting images for each of the 4 operations, in a border box

<h3>Image Thumbnails</h3>

<h3>Image Listing</h3>
** Form with image
** Grid listing of images / thumbnails
** Picture gallery with zoom

<h3>File Validation</h3>

<h3>File System Parameters</h3>




<pre>
file_upload
file_download - How to do it in a grid, and in a form

{"sqlparams": {"FILE_SIZE": "d_size",  //file_upload params - File Size
          "FILE_EXT": "d_ext", //File Extension
          "FILE_UTSTMP": "d_utstmp", //Upload Timestamp - will be combined with TSTMP sql
          "FILE_UU": "d_uu", //Upload User - will be combined with CUSER sql
          "FILE_NAME": "d_filename" //Target file name for download
        },
        "image": {
          "crop": [800,600], //Use either crop or resize
          "resize": [800,600],
          "resize": [225,75,{ "upsize": true, "extend":  true }], //upsize = increase size if smaller, extend = increase size to max, center content
          "format": "jpg", //jpg or png
        },
        "thumbnails": {
          "D_Medium": { //Key = file name
            "crop": [800,600], //Use either crop or resize
            "resize": [800,600],
            "resize": [225,75,{ "upsize": true, "extend":  true }],
            "format": "jpg", //jpg or png
          } 
        },
        "download_button": "Download Document", //Text for download button
        "preview_button": "View Image", //Text for preview button - opens within new browser window
        "upload_button": "Upload New File", //Text for upload button
        "delete_button": "Delete File", //Text for delete button
        "data_folder": "D",//Folder for files, must be unique per data_file_prefix
        "save_file_with_extension": true, //Slower because a directory search is required on each request.  Automatically set to true if sqlparams.FILE_EXT not set
  }, 

images
file extensions in config
temp folder / upload process
parameters on Config

validation
  extension
  file size



</pre>