<br/>
<div class="Cust_CustomForm_instructions"><b>Instructions:</b> Dragging the customer will update the customer status</div>
<div class="Cust_CustomForm_container">
</div>
<script type="text/x-jsharmony-template" class="Cust_CustomForm_template">
<# _.each(data.cust_sts, function(cust_sts){ #>
  <div class="Cust_CustomForm_status_container" data-code_val="<#=cust_sts.code_val#>">
    <h3 class="Cust_CustomForm_status_title"><#=cust_sts.code_txt#> Customers</h3>
    <div class="Cust_CustomForm_status" data-code_val="<#=cust_sts.code_val#>">
      <# _.each(cust_sts.cust, function(cust){ #>
        <div class="Cust_CustomForm_customer hand notextselect" data-cust_id="<#=cust.cust_id#>"><#=cust.cust_name#></div>
      <# }); #>
    </div>
  </div>
<# }); #>
</script>