<div style='display:none;'>
  <div class='popup_<%=model.class%> xdialogbox' style='width:700px;height:300px;'></div>
</div>
<script class="xgrid_CustRow_template" type="text/x-ejs-template">
  <input type="text" class="virtual_cust_name xform_ctrl_subfocus" value="<%%=data.cust_name%%>">
  <input type="text" class="virtual_cust_sts" value="<%%=data.cust_sts%%>">
</script>