.xgrid_GridCustom_CL_placeholder a {
  display:inline-block;
  width:300px;
  font-size:22px;
  padding:20px 0;
  background-color:#007bff;
  color:#fff;
  text-align:center;
  margin-top:20px;
  text-decoration:none;
}