<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <link href='file:///<%=jsh.Config.moduledir%>/public/fonts/jsHarmonyFonts.css' rel='stylesheet' type='text/css' />
</head>
<body>
  <% _.each(data.C,function(C,C_idx){  %>
    <div><%=C.c_name%></div>
  <% }); %>
</body>
</html>